{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],

    "env": {
        "browser": true,
        "node": true,
        "commonjs": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "no-console": [
            "error",
            {
                "allow": ["warn", "error"]
            }
        ],

        "max-len": ["warn", 120],
        "arrow-body-style": ["off", "always"],
        "linebreak-style": ["error", "windows"],
        "react/jsx-uses-react": "off", //React 17
        "react/react-in-jsx-scope": "off",
        "react/function-component-definition": [
            "warn",
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "default-param-last": "off",
        "no-unused-vars": "warn",
        "react/no-unescaped-entities": ["off"],
        "object-shorthand": ["off"],
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-continue": "error"
    }
}
