{
    "extends": ["prettier", "plugin:cypress/recommended"],
    "plugins": ["prettier", "cypress"],
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-console": [
            "error",
            {
                "allow": ["warn", "error"]
            }
        ],

        "max-len": ["warn", 120],
        "arrow-body-style": ["off", "always"],
        "linebreak-style": ["error", "windows"],
        "default-param-last": "off"
    }
}
